:root {
  --clr-bg-fill: hsla(224, 82%, 17%, 1);

  --clr-black: hsla(0, 0%, 0%, 1);
  --clr-black-300:  hsla(0, 0%, 0%, 0.8);
  --clr-black-100:  hsla(0, 0%, 0%, 0.3);


  --clr-white-400: hsla(0, 0%, 100%, 1);
  --clr-white-300: hsla(0, 0%, 100%, 0.9);
  --clr-white-200: hsla(0, 0%, 100%, 0.71);
  --clr-white-100: hsla(0, 0%, 100%, 0.14);

  --clr-btn-scnd: hsla(219, 75%, 19%, 0.86);
  --clr-gradient: linear-gradient(45deg, hsla(258, 29%, 68%, 1), hsla(0, 0%, 100%, 1));
  --clr-star: hsla(41, 74%, 54%, 1);


  --h-font: "Roboto", sans-serif;;
  --p-font: "Inter", sans-serif;

  --fw-thin: 250;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;  

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-650: 1.25rem;
  --fs-700: 1.5rem;
  --fs-750: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;


  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-750);
  --fs-nav: var(--fs-600);
  --fs-button: var(--fs-300);  

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
  --size-1000: 7rem;
}

@media (min-width: 50em) {
  :root {
  --fs-body: var(--fs-500);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-800);
  
  --fs-nav: var(--fs-500);
  }
}


/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}




/*  */


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.vertical-align-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

@media (min-width: 50em) {
  .justify-self-end-md {
    justify-self: end;
  }
}

:where(.flow :not(:first-child)) {
  margin-top: var(--size-600);
}

.star-review :not(:first-child) {
  margin-top: var(--size-200);
}



.text-center {
  text-align: center;
}

.text-center p {
  margin-inline: auto;
}

@media (max-width: 50em) {
  .text-center-sm-only {
    text-align: center;
  }

  .text-center-sm-only p {
    margin-inline: auto;
  }
}


.fw-thin {
  font-weight: var(--fw-thin);
}
.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}



.size-small {
  font-size: var(--fs-300);
}
.size-medium {
  font-size: var(--fs-400);
}
.size-semi-large {
  font-size: var(--fs-650);
}
.size-large {
  font-size: var(--fs-700);
}
.size-xlarge {
  font-size: var(--fs-800);
}
.size-main-heading {
  font-size: var(--fs-primary-heading);
}
.size-sub-heading {
  font-size: var(--fs-secondary-heading);
}





.padding-block-1000 {
  padding-block: var(--size-1000);
}
.padding-block-900 {
  padding-block: var(--size-900);
}
.padding-block-700 {
  padding-block: var(--size-700);
}
.padding-block-600 {
  padding-block: var(--size-600);
}
.padding-block-500 {
  padding-block: var(--size-500);
}
.padding-block-400 {
  padding-block: var(--size-400);
}
.padding-block-300 {
  padding-block: var(--size-300);
}
.padding-block-200 {
  padding-block: var(--size-200);
}



.margin-bottom-700 {
  margin-block-end: var(--size-700);
}




.container {
  --max-width: 1110px;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.display-sm-none {
  display: none;
}

@media (min-width: 50em) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}



/* fonts */

h1,
h2,
h3,
h4 {
  font-family: var(--h-font);
}

.gradient-text {
  background: var(--clr-gradient);   
  -webkit-background-clip: text;     
  -webkit-text-fill-color: transparent;
  background-clip: text;             
  text-fill-color: transparent;      
}





/* CSS Style By Erfan Farahani */

html {
  color-scheme: dark;
  background-color: var(--clr-bg-fill);
  background-image: url(../Images/bg-2.svg);
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
}

body {
  font-family: var(--p-font);
  font-size: var(--fs-600);
}



/* button */

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;
  padding: 0.75em 1.5em;
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-600);
  line-height: 1;
  color: var(--clr-bg-fill);
  background-color: var(--clr-white-400);
  box-shadow: 0 1.125em 1em -1em var(--clr-white-100);
}

.button[data-type="inverted"] {
  background-color: var(--clr-white-200);
  color: var(--clr-bg-fill);
}

.button[data-shadow="none"] {
  box-shadow: none;
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-white-300);
}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
  background-color: var(--clr-white-200);
  color: var(--clr-bg-fill);
}


.button-secondary {
  border: 0.75px solid var(--clr-white-300);
  color: var(--clr-white-400);
  background-color: var(--clr-btn-scnd);
}

.button-secondary:hover {
  background-color: var(--clr-white-100);
}

.button-hero {
  font-weight: var(--fw-bold);
  padding: 0.85em 2em;
  width: 15rem;
  justify-content: center;
  margin-top: 0;
}


.button-small {
  border: 0.75px solid var(--clr-white-300);
  color: var(--clr-white-400);
  background-color: transparent;
  padding: 0.5em 1em;
  font-size: var(--fs-nav);
}

.button-nav {
  font-size: var(--fs-nav);
  font-weight: var(--fw-regular);
}


/* header */

.pop-header {
  background-color: var(--clr-black);
  padding-top: var(--size-200);
  padding-bottom: var(--size-200);
  font-size: var(--fs-400);
}


.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.mobile-nav-toggle {
  display: none;
}







.nav-list {
  font-size: var(--fs-nav);
}

.nav-list {
  display: flex;
  gap: clamp(var(--size-400), 2vw, var(--size-700));
  font-weight: var(--fw-semi-bold);
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-primary-400);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-accent-400);
}


@media (max-width: 58em) {
  .primary-navigation {
    display: none;
    position: fixed;
    padding: var(--size-200);
    inset: 7rem var(--size-400) auto;
    max-width: 85%;
    margin: auto;
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    /* height: 100vh; */
    background-image: linear-gradient(rgb(0 0 0 / 0.2), rgb(0 0 0 / 0.8));
  }

  .nav-list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
    background-color: var(--clr-white-100);
    border-radius: var(--size-400);
    margin: auto;
    color: var(--clr-white-400);
    font-weight: var(--fw-bold);
    font-size: var(--fs-500);
    padding: var(--size-500);
    backdrop-filter: blur(0.9em); 
    -webkit-backdrop-filter: blur(0.8rem);
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: static;
    top: var(--size-600);
    right: var(--size-400);
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
    z-index: 10;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }

  .button-placeholder,
  .pop-header {
    display: none;
  }


}




/* hero */
.even-columns {
  display: grid;
  gap: var(--size-400);
  grid-auto-columns: 1fr;
}

.even-columns .flow {
  text-align: center;
}

.even-columns p {
  margin-top: 0 ;
}

.even-columns img {
  margin-inline: auto;
}

.button-placeholder-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-300);
  flex-wrap: wrap;
}




/* reviews */

.even-columns-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--size-400)
}

.card {
  padding: var(--size-300);
  width: 350px;
  border-radius: 1.5rem;
  background-color: var(--clr-white-100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-400);
  transition: all 0.25s ease-in-out;
  cursor: default;
}

.card:hover {
  transform: scale(1.05);
}


.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-400);
}

.card-top h4 {
  width: fit-content;
}

.avatar-placeholder {
  flex-grow: 1;
  width: 10rem;
  position: relative;
}

.avatar-placeholder img {
  border-radius: 100px;
  position: absolute;
  left: 0.0625rem;
  top: -4.4375rem;
}

.card-bottom :not(:first-child) {
  margin-top: var(--size-300);
}

.card p,
.card h4 {
  color: var(--clr-white-300);
}



@media (max-width:50em) {
  .even-columns-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .card {
    width: 90%;
    padding: var(--size-400);
  }

  .avatar-placeholder {
    width: 7rem;
    position: static;
  }

  .avatar-placeholder img {
    border-radius: 100px;
    position: static;
    left: 0;
    top: 0;
  }
  
  
}


/* WWR */

.wwr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wwr-title {
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  justify-content: center; 
  background-color: transparent !important; 
}

.wwr-child {
  flex-basis: calc(50% - 1rem);
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  background-color: var(--clr-white-100);
  text-align: center;
}

.wwr-child p,
.wwr-child a {
  color: var(--clr-white-300);
}

.wwr-child :not(:first-child) {
  margin: var(--size-300);
}

.wwr-child img {
  border-radius: 1.5rem;
  width: 100%;
}

@media (max-width:50em) {

  .wwr {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .wwr-child {
    width: 90%;
  }

  .wwr-title {
    flex-grow: 1;
    margin-bottom: var(--size-600);
  }

}



/* slider */


.slider {
  display: flex;
  gap: var(--size-600);
  list-style: none;
}

.a11y-slider-container {
  margin-block: var(--size-700);
  margin-inline: var(--size-400);
}

.slider > * {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 35em) {
  .slider {
    scroll-padding-inline: 25px;
  }

  .a11y-slider-container {
    margin-inline: 0;
  }
  .slider > * {
    width: 50%;
  }
}

@media (min-width: 55em) {
  .slider {
    padding-inline: var(--size-600);
  }
  .slider > * {
    width: 32%;
  }

  
}

.a11y-slider-dots {
  display: flex;
  justify-content: center;
  margin-block: var(--size-500);
  gap: var(--size-300);
}

.a11y-slider-dots li {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
}

.a11y-slider-dots li button {
  display: block;
  font-size: 0;
  text-indent: -9999px;
  background: transparent;
  border: 1px solid var(--clr-white-400) !important;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
}

.a11y-slider-dots li button.active {
  background: var(--clr-white-400);
}


.slider li {
  border: 1px solid var(--clr-white-300);
  border-radius: 1.8rem;
  padding: 1.8rem;
  
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-content p {
  color: var(--clr-white-200);
  padding-bottom: var(--size-300);
}










/* Footer */

.primary-footer {
  background-color: var(--clr-black-100);
  margin-top: var(--size-800);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  font-size: var(--fs-nav);
}

.primary-footer-wrapper {
  display: grid;
  gap: var(--size-700);
  grid-template-areas:
    "form"
    "nav"
    "logo-social";
}

.primary-footer-logo-social {
  grid-area: logo-social;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-400);
}



.primary-footer-wrapper a {
  display: flex;
  justify-items: center;
  align-items: center;
}

.primary-footer-nav {
  grid-area: nav;
}

.primary-footer-form {
  grid-area: form;

  display: flex;
  flex-direction: column;
  gap: var(--size-400);
  align-items: center;
}

.primary-footer-form p {
  color: var(--clr-white-200);
}

.primary-footer-form input[type="email"] {
  flex-grow: 1;
  margin-right: var(--size-100);
  background-color: var(--clr-bg-fill);
}

.primary-footer-form form  {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-footer-form button  {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-nav);
}




input:where([type="text"], [type="email"], ) {
  border-radius: 100vw;
  border: 0;
  padding: var(--size-300) var(--size-400);
}

@media (min-width: 58em) {
  .primary-footer-wrapper {
    grid-template-areas: "logo-social nav form";
  }

  .primary-footer-logo-social {
    align-items: center;
    justify-content: space-between;
    gap: var(--size-400);
  }


}

@media (max-width: 58em) {
  .primary-footer-wrapper > * {
    margin-inline: auto;
  }
}

/* footer navigation */

.footer-nav {
  columns: 2;
  gap: clamp(var(--size-100), 250vw, var(--size-600));
}

.footer-nav a {
  color: var(--clr-neutral-100);
  text-decoration: none;
}

.footer-nav a:is(:hover, :focus) {
  color: var(--clr-accent-400);
}

/* social list */

.social-list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--size-400);
}

.social-icon {
  width: var(--size-600);
  aspect-ratio: 1;
}


